[submodule "fonts"]
        path = fonts
        url = https://github.com/powerline/fonts
[submodule "bundle/fugutive"]
	path = bundle/fugutive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/ruby"]
	path = bundle/ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-lightline"]
	path = bundle/vim-lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "bundle/vim-nerdtree"]
	path = bundle/vim-nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-bundler"]
	path = bundle/vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/vim-ruby_refactoring"]
	path = bundle/vim-ruby_refactoring
	url = https://github.com/ecomba/vim-ruby-refactoring.git
[submodule "bundle/vim-yardoc"]
	path = bundle/vim-yardoc
	url = https://github.com/noprompt/vim-yardoc.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "bundle/vim-simple-todo"]
	path = bundle/vim-simple-todo
	url = https://github.com/vitalk/vim-simple-todo.git
